@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@700&family=Open+Sans&family=Poppins&family=Roboto&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.header-styling {
  background-color: #ffd954;
  --bs-breadcrumb-divider: ">";
}

.sticky-header {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.breadcrumb-item > a {
  text-decoration: none;
  color: #4c4119;
  /* background-color: white; */
  /* padding: 0.7rem 1.5rem; */
  /* border-radius: 2rem; */
  margin: 0rem 0.5rem;
}

.header-logo {
  width: 15rem;
}

.option-tab {
  /* background-color: #4db8ff; */
  background-color: white;
  border-radius: 2rem;
  font-size: 1.5rem;
  width: 15rem;
  font-family: roboto-mono;
  border-width: 0.5rem;
  border-color: #cfede4;
}

.dFlexAICenterJCCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h100vh {
  height: 100vh;
}

.card-styling {
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px #888888;
}

.card-img-style {
  border: 2px solid gray;
  border-radius: 1rem;
}

.card-body-points {
  display: flex;
  max-width: 46rem;
  text-align: justify;
}

.dFlexJCCenter {
  display: flex;
  justify-content: center;
}

.card-body-list {
  list-style-type: disclosure-closed;
}

.contact-info-text {
  border-radius: 3rem;
  background-color: #f3f3e5;
  max-width: fit-content;
  border: 1px solid #d3d3d3;
  color: #646464;
}

.card-contact {
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-bottom: 5px solid lightgray;
  border-radius: 1rem;
  width: 18rem;
}

.contact-info-outer-container {
  border-radius: 2rem;
}

.contact-icon-box {
  background-color: #f3f3e5;
  width: max-content;
  /* border: 1px solid black; */
  color: gray;
  border-radius: 2rem;
  height: 4rem;
  width: 4rem;
}

.selection-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  max-width: 40rem;
  flex-wrap: wrap;
}

.selection-buttons-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 2rem;
  margin: 2rem;
  max-width: 40rem;
  box-shadow: 3px 3px 10px #888888;
}

@media (max-width: 768px) {
  .h100vh {
    height: auto;
    overflow-y: auto;
  }
}

.selection-header {
  font-size: 2.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-1 {
  flex: 1;
}

.music-btn {
  font-size: 1.4rem;
  padding: 0.1rem;
  margin: 0.2rem;
}

.change-btn {
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0;
  font-weight: bold;
  align-items: center;
}

.music-btn-position {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.home-card {
  width: 30rem;
  padding-bottom: 1rem;
}

.cards-button {
  width: 9rem;
  height: 2.5rem;
}

.arrow-button {
  width: 2rem;
}

.dancing-script-font {
  font-family: "Dancing Script", cursive;
}

.color-dark-gray {
  color: rgb(100, 100, 100);
}

.task-box {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task-button {
  width: 4.4rem;
}
